.navbar-sticky {
  background-color: white;
  height: 75px;
  z-index: 75; }

button::after {
  opacity: 0.4; }

button:hover {
  opacity: 0.4; }

.icon-column {
  text-align: end;
  padding: 10px; }

.navbar {
  height: 75px;
  z-index: 75;
  background-color: transparent; }

.navbar-brand {
  color: white; }

.sticky {
  color: black;
  margin: 15px; }

.img-fluid {
  align-self: center;
  padding: 0;
  padding-bottom: 10px; }

.github-white{
  background-image: url('/../../../jjbiggins/git/webapp/src/assets/img/GitHub-Mark-Light-64px.png');
}

.linkedin-white{
  background-image: url('/../../../jjbiggins/git/webapp/src/assets/img/In-White-66px-TM.png');
}

.github{
  background-image: url('/../../../jjbiggins/git/webapp/src/assets/img/GitHub-Mark-64px.png');
}

.linkedin{
  background-image: url('/../../../jjbiggins/git/webapp/src/assets/img/In-Black-66px-TM.png');
}

.header {
  z-index: -999999;
  top: 0;
  width: 100%; }

.header-sticky {
  top: 0;
  width: 100%; }

button {
  height: 35px;
  width: 35px;
  border-style: none;
  background-color: transparent;
  background-size: 100%;
  margin: 3px; }

@media only screen and (max-width: 640px) {
  button {
    height: 25px;
    width: 25px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 3px; } }
@media only screen and (max-width: 400px) {
  button {
    height: 35px;
    width: 35px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 1px; } }

/*# sourceMappingURL=app-header.component.css.map */
