///////////////////////////////////////////////
//        Navbar
//////////////////////////////////////////////
.navbar-brand{
  float: left;
  padding: 12px 16px;

  color: white;
  font-family: "DejaVu Sans Light";
  font-size: 4em;
}

.navbar{
  height: 140px;

  z-index: 75;
  background-color: transparent;
}

.navbar a{
  float: left;
  color: white;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Lato Hairline";
}

.navbar-sticky .dropbtn {
  width: auto;
  height: auto;

  background-color: white;
  color: black;
  padding: 12px 16px;

  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Lato Hairline";

  border: none;
}


// Dropdown button
.dropbtn {
  width: auto;
  height: auto;

  background-color: transparent;
  color: white;
  padding: 12px 16px;

  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Lato Hairline";

  border: none;
}


.dropdown-content {
  display: none;
  position: absolute;

  background-color: transparent;

  min-width: 160px;
  z-index: 1;
}


.dropdown-content a {
  color: white;

  padding: 14px 16px;
  text-decoration: none;

  background-color: transparent;
  font-weight: lighter;
  font-family: "Lato Hairline";

  display: block;
}



.navbar a:hover {
  opacity: 0.4;
}




.navbar-sticky{
  height: 75px;

  z-index: 75;
  background-color: white;
}

.navbar-sticky a{
  float: left;
  color: black;

  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-size: 1.5em;
  font-weight: lighter;
  font-family: "Lato Hairline";
}

.navbar-sticky .dropdown-content a {
    color: white;

    padding: 14px 16px;
    text-decoration: none;

    background-color: transparent;
    font-weight: lighter;
    font-family: "Lato Hairline";

    display: block;
}

.navbar-sticky a:hover {
  opacity: 0.4;
}





button::after{
  opacity: 0.4;
}

button:hover {
  opacity: 0.4;
}


.sticky{
  color: black;
  font-weight: lighter;
  padding: 12px 16px;
}

///////////////////////////////////////////////
//        Dropdown
//////////////////////////////////////////////
.dropdown {
  float: left;
  display: inline-block;
}

.dropdown-content a:hover {
  opacity: 0.4;
  background-color: transparent;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.4;
  background-color: transparent;
}


///////////////////////////////////////////////
//        Hero
//////////////////////////////////////////////

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Text styles */
  color: white;
  text-align: center;

  /* Background styles */
  background-image: url('../../assets/img/chi.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner{
  align-self: center;
  margin-top: 25em;
  margin-right: 0em;
}

.hero h1{
  /* Text styles */
  font-size: 4em;
  font-weight: lighter;
  font-family: "Lato Hairline";

}

.hero h2{
  color: white;
  font-size: 2em;
  font-weight: lighter;
  font-family: "Lato Hairline";
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;

  background-color: transparent;

  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-right: auto;

  /* Text styles */
  color: white;
  text-decoration: none;
  font-size: 1.5em;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

  /* Border styles */
  border: 5px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}




///////////////////////////////////////////////
//        Media/Contacts classes
//////////////////////////////////////////////
.github-white{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}

.linkedin-white{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}

.github{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}

.linkedin{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}

.email{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}

.phone{
  width: auto;
  height: auto;
  text-align: right;

  font-weight: normal;
  font-family: "Lato Hairline";
  font-size: 1em;
  color: white;
}


///////////////////////////////////////////////
//        Header
//////////////////////////////////////////////
.header{
  z-index: -999999;
  top: 0;
  width: 100%;
}

.header-sticky {
  top: 0;
  width: 100%;
}



///////////////////////////////////////////////
//        Buttons
//////////////////////////////////////////////
button{
  height: 40px;
  width: 40px;

  border-style: none;
  background-color: transparent;
  background-size: 100%;
  margin: 3px;
}

@media only screen and (max-width: 640px){
  button{
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 3px;
  }
}

@media only screen and (max-width: 640px){
  button{
    height: 40px;
    width: 40px;
    border-style: none;
    background-color: transparent;
    background-size: 100%;
    margin: 3px;
  }
}
