<app-app-header [header]="header"></app-app-header>
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <app-summary [summary]="summary"></app-summary>
    <h2>Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work.
      And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle.
      As with all matters of the heart, you’ll know when you find it.</h2>
    <h3>--Steve Jobs</h3>
    <app-section-list [sections]="sections"></app-section-list>
  </div>
</div>
