<app-app-header [header]="header"></app-app-header>
<div class="container-fluid text-center pb-5">
  <div style="text-align:center">
    <object class="pdf-resume" data="../../assets/resume.pdf"></object>
    <img class="img-fluid" src="../../assets/img/Screenshot%20from%202019-02-10%2022-10-09.png">
  </div>
</div>
