.table-header{
  height: auto;
  background-color: black;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Helvetica Neue";
  color: white;
}

.img-fluid {
  height: 400px;
  padding: 40px; }

.mobile {
  display: none; }

.header {
  padding-right: 120px; }

.column {
  margin: 40px;
  width: 50%;
  vertical-align: middle; }

p {
  font-size: 15px;
  color: white; }

a {
  color: #ffcd00; }

.row {
  margin: 20px;
  padding: 20px;
  vertical-align: top; }

@media only screen and (max-width: 640px) {
  .mobile {
    display: inline-block; }

  .row {
    margin: 10px; }

  .column {
    padding: 0px;
    width: 100%;
    margin: 0px; }

  tr {
    padding-right: 30px;
    padding-left: 30px; }

  .desktop {
    display: none; }

  .img-fluid {
    padding: 20px 0 0 0; } }

/*# sourceMappingURL=project-header.component.css.map */
