@import "/../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Samyak Devanagari";
  background-color: black;
  margin: 0;
  padding: 0;
  bottom: 0;
  overflow: scroll;
}

html {
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
